.header {
  height: 100px;
  background-image: url("../image/bg.jpg");
  background-position: center 875px;
  background-size: 1120px;
  position: relative;

  .sound__wrapper {
    position: absolute;
    top: 20px;
    right: 15px;
  }
}

.content {
  min-height: calc(100vh - (100px + 100px));
}

.footer {
  height: 100px;
  position: absolute;
  bottom: 0;

  .logo-kewan__wrapper {
    width: 150px;
  }

  .logo-kewan {
    width: 100%;
  }
}
